@model IEnumerable<GoogleDrive.Models.GoogleDriveFiles>

@{
    ViewBag.Title = "GetGoogleDriveFiles";
}
<h2>Google Drive API v3 - ASP.NET MVC 5 [Everyday Be Coding]</h2>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<style type="text/css">
    #header {
        width: 100%;
        background-color: #CCCCCC;
        text-align: center;
    }

    #layouttable {
        border: 0px;
        width: 100%;
        font-family: 'Segoe UI';
    }

        #layouttable td.col1 {
            width: 20%;
            vertical-align: top;
        }

        #layouttable td.col2 {
            width: 60%;
            vertical-align: top;
            background-color: #E8E8E8;
        }

        #layouttable td.col3 {
            width: 20%;
            vertical-align: top;
        }
</style>

<center>
    <div>
        @using (Html.BeginForm("CreateFolder", "Home", FormMethod.Post))
        {
        <p>
            <label for="file">Create a folder:</label>
            Folder name: <input type="text" name="FolderName" id="txtFolderName" style="align-content:center" />
            <input type="submit" class="CreateFolder" value="Create" />
        </p>
        }
    </div>
    <div style="width:80%; text-align:left;">
        @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <p>
            <label for="file">Upload file :</label>
            <label for="file">Ten bai hat :</label>
            <input type="text" name="tenbaihat" id="tenbaihat" />

            <label for="file">File free :</label>
            <input type="file" name="file" id="file" />

            <label for="file">File co phi :</label>
            <input type="file" name="file1" id="file1" />

            <input type="submit" value="Upload" />
        </p>
        }
    </div>

    <table class="table" border="1">
        <tr id="header">
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedTime)
            </th>
            <th>
                Download
            </th>
            <th>
                Delete
            </th>
            <th>
                Upload
            </th>
        </tr>

        @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            if (item.Parents == null || item.Parents[0].Equals("0ADE-wGVe2lb4Uk9PVA"))
            {
                <tr id="layouttable">
                    
                    <td>
                        
                        @if(item.Size == null)
                        {
                            <a href="@Url.Action("GetContainsInFolder","Home",new { folderId = item.Id})">@item.Name</a>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Name)
                        }
                    </td>
                    <td>
                        @{
                        long? KiloByte = @item.Size / 1024;
                        string NewSize = KiloByte + " KB";
                        }
                        @NewSize
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Version)
                    </td>
                    <td>
                        @string.Format("{0: MM/dd/yyyy}", Convert.ToDateTime(Html.DisplayFor(modelItem => item.CreatedTime).ToString()))
                    </td>
                    <td>
                        <input type="button" class="DownloadFile" value="Download" data-key=@item.Id style="align-content:center" />
                    </td>
                    <td>
                        @using (Html.BeginForm("DeleteFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" name=Id value="@item.Id">
                        <input type="submit" class="DeleteFile" value="Delete" style="align-content:center" />
                }

                    </td>
                    <td>
                        @if (NewSize == " KB")
                    {
                        using (Html.BeginForm("FileUploadInFolder", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <input type="hidden" name=Id value="@item.Id" />
                            <input type="file" name="file" style="width:176px" />
                            <input type="submit" value="Upload" />
                    }
                }
                    </td>
                </tr>
        }
    }
}
else
{
    <td colspan="6">No files found</td>
}

    </table>

</center>

<script>
    $(document).on('click', '.DownloadFile', function () {
        debugger;
        var fileId = $(this).attr("data-key");
        window.location.href = '/Home/DownloadFile/' + fileId;
    });
</script>
